.paymentSection {
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../assets/background.png')
}
.paymenttext h6, .paymenttext h2, .paymenttext p 
{
    color: #fff;
}
.paymenttext p {
    font-size: 14px;
}
.paymenttext h2 {
    font-size: 55px;
    padding-bottom: 20px;
}
.paymenttext h6
{
    font-size: 20px;
}
.PayRow {
    margin-top: 60px;
}
.PayRow P {
    margin-bottom: 30px;
}
.SecondSection p
{
    margin-top: 50px;
}

.container.SecondSection p {
    width: 273px;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .paymentSection .rightimage img {
    position: relative;
    height: 400px;
    /* right: 0px !important; */
    /* float: right !important; */
    /* bottom: 10px; */
    left: 22rem;
}
.SecondSection .leftsection {
    margin-top: 300px;
}