.Bank {
      background-color: #ebf2f9;
      overflow: hidden;
}
.title {
      font-family: 'Test Söhne';
      font-size: 24px;
      line-height: 16px;
      color: #50ccfe;
      padding: 10px 0;
}
.subTitle {
      line-height: 48px;
      word-spacing: 2px;
      color: #1e336b;
}

/* .bankImage {
      width: 216.81px;
      height: 469.12px;
} */

.col-6.sideBox {
      height: 30vh;

      padding: 259px 270px 252px 0;
}
.card__box__title {
      font-size: 20px;
      color: #1e336b;
}
.card__box__title::before {
      content: '|';
      padding-right: 10px;
      font-size: 22px;
      font-weight: 100;
}
.padding__space {
      padding: 30px;
}

.pay_sec {
      padding: 10px 0;
}
.pay_sec p {
      color: #1e336b;
      word-spacing: 4px;
}
